{% extends 'base.html.twig' %}

{% block links %}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% block body %}

    <div class="container py-3">
        <table class="table table-striped table-hover shadow-2-strong bg-white">
            <thead>
            <tr>
                <td>Numéro Colis</td>
                <td>Prénom Utilisateur</td>
                <td>Nom Utilisateur</td>
                <td>Adresse Utilisateur</td>
                <td>Complément Utilisateur</td>
                <td>Code postal Utilisateur</td>
                <td>Ville Utilisateur</td>
                <td>Téléphone Utilisateur</td>
                <td>CGU</td>
                <td>RGPD</td>
                <td>Chart & CG</td>
                <td>Adresse Colis</td>
                <td>Complément Colis</td>
                <td>Code postal Colis</td>
                <td>Ville Colis</td>
                <td>Emplacement Colis</td>
                <td>Détails Colis</td>
                <td>Indications Colis</td>
                <td>Adresse Livraison</td>
                <td>Complément Livraison</td>
                <td>Code postal Livraison</td>
                <td>Ville Livraison</td>
                <td>Disponibilité</td>
            </tr>
            </thead>
            <tbody>
            {% for package in packages %}
                <tr>
                    <td>{{ package.reference }}</td>
                    <td>{% if package.owner %} {{ package.owner.firstname }} {% endif %}</td>
                    <td>{% if package.owner %} {{ package.owner.lastname }} {% endif %}</td>
                    <td>{% if package.owner %} {{ package.owner.address }} {% endif %}</td>
                    <td>{% if package.owner %} {{ package.owner.complement }} {% endif %}</td>
                    <td>{% if package.owner %} {{ package.owner.zip }} {% endif %}</td>
                    <td>{% if package.owner %} {{ package.owner.city }} {% endif %}</td>
                    <td>{% if package.owner %} {{ package.owner.phone }} {% endif %}</td>
                    <td>{% if package.owner and package.owner.cgu %}Oui{% else %}Non{% endif %}</td>
                    <td>{% if package.owner and package.owner.rgpd %}Oui{% else %}Non{% endif %}}</td>
                    <td>{% if package.owner and package.owner.chartOptin %}Oui{% else %}Non{% endif %}</td>
                    <td>{% if package.address %}{{ package.address }} {% endif %}</td>
                    <td>{% if package.complement %}{{ package.complement }} {% endif %}</td>
                    <td>{% if package.zip %}{{ package.zip }} {% endif %}</td>
                    <td>{% if package.city %}{{ package.city }} {% endif %}</td>
                    <td>{% if package.emplacement %}{{ package.emplacement }} {% endif %}</td>
                    <td>{% if package.details %}{{ package.details }} {% endif %}</td>
                    <td>{% if package.indications is not empty %}{% for indication in package.indications %} {{ indication.label }}, {% endfor %} {% endif %}</td>
                    <td>{% if package.shipping %}{{ package.shipping.address }} {% endif %}</td>
                    <td>{% if package.shipping %}{{ package.shipping.complement }} {% endif %}</td>
                    <td>{% if package.shipping %}{{ package.shipping.zip }} {% endif %}</td>
                    <td>{% if package.shipping %}{{ package.shipping.city }} {% endif %}</td>
                    <td>{% if package.shipping %}{{ package.shipping.disponibility }} {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}