{% extends '../base.html.twig' %}

{% block links %}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% block body %}

    <div class="container py-3">
        <table class="table table-striped table-hover shadow-2-strong bg-white">
            <thead>
            <tr>
                <td>Numéro Colis</td>
                <td>Prénom Utilisateur</td>
                <td>Nom Utilisateur</td>
                <td>Adresse Utilisateur</td>
                <td>Complément Utilisateur</td>
                <td>Code postal Utilisateur</td>
                <td>Ville Utilisateur</td>
                <td>Téléphone Utilisateur</td>
                <td>CGU</td>
                <td>RGPD</td>
                <td>Chart & CG</td>
                <td>Adresse Colis</td>
                <td>Complément Colis</td>
                <td>Code postal Colis</td>
                <td>Ville Colis</td>
                <td>Emplacement Colis</td>
                <td>Détails Colis</td>
                <td>Indications Colis</td>
                <td>Adresse Livraison</td>
                <td>Complément Livraison</td>
                <td>Code postal Livraison</td>
                <td>Ville Livraison</td>
                <td>Disponibilité</td>
            </tr>
            </thead>
            <tbody>
            {% for package in packages %}
                <tr>
                    <td>{{ package.reference }}</td>
                    <td>{{ package.owner.firstname }}</td>
                    <td>{{ package.owner.lastname }}</td>
                    <td>{{ package.owner.address }}</td>
                    <td>{{ package.owner.complement }}</td>
                    <td>{{ package.owner.zip }}</td>
                    <td>{{ package.owner.city }}</td>
                    <td>{{ package.owner.phone }}</td>
                    <td>{% if package.owner.cgu %}Oui{% else %}Non{% endif %}</td>
                    <td>{% if package.owner.rgpd %}Oui{% else %}Non{% endif %}</td>
                    <td>{% if package.owner.chartOptin %}Oui{% else %}Non{% endif %}</td>
                    <td>{{ package.address }}</td>
                    <td>{{ package.complement }}</td>
                    <td>{{ package.zip }}</td>
                    <td>{{ package.city }}</td>
                    <td>{{ package.emplacement }}</td>
                    <td>{{ package.details }}</td>
                    <td>{% for indication in package.indications %} {{ indication.label }}, {% endfor %}</td>
                    <td>{{ package.shipping.address }}</td>
                    <td>{{ package.shipping.complement }}</td>
                    <td>{{ package.shipping.zip }}</td>
                    <td>{{ package.shipping.city }}</td>
                    <td>{{ package.shipping.disponibility }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}