{% extends 'base.html.twig' %}

{% block links %}
    <link rel="stylesheet" href="{{ asset('assets/css/user_details.css') }}">
{% endblock %}

{% block body %}

    <section class="vh-100" style="background-color: var(--green)">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            {% include 'progress_bar.html.twig' with {"active":"colis"} %}

                            <h3 class="mb-4">Informations sur mon colis</h3>

                            {{ form_start(form) }}

                            <div class="form-outline mb-2">
                                {{ form_label(form.emplacement) }}
                                {{ form_widget(form.emplacement) }}
                            </div>

                            <div class="form-outline mb-2">
                                {{ form_label(form.address) }}
                                {{ form_widget(form.address) }}
                            </div>

                            <div class="form-outline mb-2">
                                {{ form_label(form.complement) }}
                                {{ form_widget(form.complement) }}
                            </div>

                            <div class="form-outline mb-2">
                                <div class="row">
                                    <div class="col-6">
                                        {{ form_label(form.zip) }}
                                        {{ form_widget(form.zip) }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_label(form.city) }}
                                        {{ form_widget(form.city) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline mb-2">
                                {{ form_label(form.indications) }} <br/>
                                {% for indication in form.indications %}
                                    <div class="me-2 indication-inputs" style="display:inline-block;">
                                        {{ form_widget(indication) }}
                                        {{ form_label(indication) }}
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="form-outline mb-2">
                                {{ form_label(form.details) }}
                                {{ form_widget(form.details) }}
                            </div>

                            {{ form_row(form.submit) }}

                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}