{% extends 'base.html.twig' %}

{% block links %}
    <link rel="stylesheet" href="{{ asset('assets/css/user_details.css') }}">
{% endblock %}

{% block body %}

    <section class="vh-100" style="background-color: var(--green)">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            {% include 'progress_bar.html.twig' with {"active":"information"} %}

                            <h3 class="mb-5">Vos informations</h3>

                            {{ form_start(form) }}

                            <div class="form-outline mb-4">
                                <div class="row">
                                    <div class="col-md-6 col-6">
                                        {{ form_label(form.lastname) }}
                                        {{ form_widget(form.lastname) }}
                                    </div>
                                    <div class="col-md-6 col-6">
                                        {{ form_label(form.firstname) }}
                                        {{ form_widget(form.firstname) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                {{ form_label(form.address) }}
                                {{ form_widget(form.address) }}
                            </div>

                            <div class="form-outline mb-4">
                                {{ form_label(form.complement) }}
                                {{ form_widget(form.complement) }}
                            </div>

                            <div class="form-outline mb-4">
                                <div class="row">
                                    <div class="col-6">
                                        {{ form_label(form.zip) }}
                                        {{ form_widget(form.zip) }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_label(form.city) }}
                                        {{ form_widget(form.city) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                {{ form_label(form.phone) }}
                                {{ form_widget(form.phone) }}
                            </div>

                            <div class="form-check mb-4">
                                {{ form_widget(form.cgu) }}
                                <label for="user_cgu" class="form-check-label">Je reconnais avoir pris connaissance et accepter <a href="{{ asset('assets/docs/CGU.pdf') }}">les conditions générales</a> du service.<span style="color:red">*</span></label>
                            </div>

                            <div class="form-check mb-4">
                                {{ form_widget(form.rgpd) }}
                                <label for="user_rgpd" class="form-check-label">J’accepte que  <a href="{{ asset('assets/docs/RGPD.pdf') }}"> mes informations personnelles </a> soient utilisées uniquement dans le cadre de ma demande.<span style="color:red">*</span></label>
                            </div>

                            <div class="form-check mb-4">
                                {{ form_widget(form.chartOptin) }}
                                <label for="user_chartOptin" class="form-check-label">J’accepte <a href="{{ asset('assets/docs/chart.pdf') }}">la charte</a> et <a href="{{ asset('assets/docs/mention_legal.pdf') }}">les mentions légales</a> du service ColiGo.<span style="color:red">*</span></label>
                            </div>

                            {{ form_row(form.submit) }}

                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}